html, body {
    // box model
    width: 100%;
}

html {
    // positioning
    position: relative;

    // box model
    box-sizing: border-box;
    
    // typography
    font-size: $baseFontSize;

    // visual
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    // positioning
    position: relative;
    
    // box model
    min-width: 320px;
    margin: 0;

    // visual
    background-color: $white;
    overflow-x: hidden;

    @include atDesktopS {
        // visual
        overflow-x: initial;
    }
}

.overflow-wrap {
    // visual
    overflow-x: hidden;
}

.main {
    // positioning
    position: relative;

    // visual
    background-color: #F5F6F7;

    @include atDesktopS {
        // box model
        padding-left: 20px;
        padding-right: 20px;

        
    }

    @include atDesktopM {
        // box model
        padding: 0;
    }
}

.visually-hidden {
    // positioning
    position: absolute;
    clip: rect(0 0 0 0);
    
    // box model
    width: 1px;
    height: 1px;
    margin: -1px;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}

input[ type="number" ]::-webkit-outer-spin-button,
input[ type="number" ]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}


input[ type="number" ] {
    -moz-appearance: textfield;
}

input[ type="number" ]:hover,
input[ type="number" ]:focus {
    -moz-appearance: number-input;
}

input[ type="number" ]::-webkit-inner-spin-button,
input[ type="number" ]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}