// colors
$white: #ffffff;
$yellow: #FF9300;
$grape: #6D43E5;
$grey: #3A475B;

// typography
$baseFontSize: 16px;
$baseFont: "Ubuntu", Arial, Helvetica, sans-serif;
$decoFont: "PT Serif", Georgia, serif;