footer.main-footer
    .main-footer__container
        .main-footer__policy
            a.main-footer__link(href="https://www.consult-info.ru/") Консалт инфо
            p.main__footer__policy-text &copy; 2005-2019 Все права защищены
        .main-footer__register
            a.main-footer__register-btn(href="https://www.bitrix24.ru/create.php?p=10650" target="_blank") Зарегистрировать
                img.bitrix-logo(src="./img/bitrix-logo-btn.svg" alt="Логотип Битрикс24")
        ul.main-footer__social
            li.main-footer__social-item
                a.main-footer__social-link(href="http://vk.com/consult_info" target="_blank")
                    img.mainfooter__social-icon(src="./img/icons/social/vk.svg", alt="Вконтакте")
            li.main-footer__social-item
                a.main-footer__social-link(href="https://www.facebook.com/consult.info.it/" target="_blank")
                    img.mainfooter__social-icon(src="./img/icons/social/fb.svg", alt="Facebook")