header.main-header
    .main-header__nav
        nav.nav
            .nav__logo
                .logo
                    .logo__image
                        img(src="./img/logo.svg", alt="Consult Info Logo")
            .nav__mobile-icon
                .mobile-icon
                    .mobile-icon__line.mobile-icon__line-one
                    .mobile-icon__line.mobile-icon__line-two
                    .mobile-icon__line.mobile-icon__line-three
            ul.main-menu
                li.main-menu__item
                    a.main-menu__link(href="#purpose") Для кого
                li.main-menu__item
                    a.main-menu__link(href="#benefit") Что мне это даст?
                li.main-menu__item
                    a.main-menu__link(href="#workflow") Как это будет?
                li.main-menu__item
                    a.main-menu__link(href="#comments") Отзывы
            .nav__subscribe
                p.more-places Осталось 
                    span.more-places__value 23 
                    |места
                button.sign-up Записаться

    .main-header__content
        header.main-header__content-header
            h1.main-header__title CRM-интенсив
            h2.main-header__subtitle Бесплатный образовательный практикум
            button.button Записаться
        
        .main-header__content-video
            .video-container
                .video-container__promo
                    a.main-header__video-link(href="https://youtu.be/WON4qYmW4MQ")
                        picture(srcset="./img/backgrounds/vi/WON4qYmW4MQ/videobg.webp" type="image/webp")
                            img.main-header__video-media(src="./img/backgrounds/vi/WON4qYmW4MQ/videobg.jpg", alt="BarberWild promo")
                        button.main-header__video-button(aria-label="Запустить видео")
                            <svg width="68" height="48" viewBox="0 0 68 48"><path class="main-header__video-button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="main-header__video-button-icon" d="M 45,24 27,14 27,34"></path></svg>
