.benefit {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 135px;
    padding: 20px 17px 18px 17px;
    
    // visual
    cursor: pointer;

    &:hover,
    &--active {
        // visual
        box-shadow: 0 0 20px rgba(#D2D2D2, 0.5);

        .benefit__image {
            // visual
            fill: #4C3B7B;
        }
        
        .benefit__title {
            // typography
            color: #4C3B7B;
        }
    }

    &:first-child {
        // box model
        margin-left: -50px;
    }

    &:last-child {
        // box model
        margin-right: -50px;
    }
}

.benefit__thumbnail {
    // box model
    margin-bottom: 10px;
}

.benefit__image {
    // box model
    display: block;
    width: auto;
    height: 30px;
}

.benefit__title {
    // box model
    margin: 0;
    padding: 0;

    // typography
    font-family: $baseFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $grey;
    text-align: center;
}