.main-header {
    // box model
    width: 100%;
    min-height: 800px;
    margin-right: auto;
    margin-left: auto;

    // visual
    background-image: url('./img/backgrounds/main-header-bg.jpg');
    background-repeat: repeat-x;
    background-position: center center;
    overflow: hidden;
}

.main-header__content {
    // box model
    width: 100%;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
}