.main-header {
    // box model
    width: 100%;
    min-height: 800px;
    margin-right: auto;
    margin-left: auto;

    // visual
    background-image: url('./img/backgrounds/main-header-bg.jpg');
    background-repeat: repeat-x;
    background-position: center center;
    overflow: hidden;

    @include atDesktopS {
        // box model
        padding-left: 20px;
        padding-right: 20px;
    }

    @include atDesktopM {
        // box model
        padding-left: 0;
        padding-right: 0;
    }
}

.main-header__nav,
.main-header__content {
    // box model
    width: 100%;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

.main-header__content-header {
    // box model
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-header__nav {
    // box model
    margin-bottom: 170px;
}

.main-header__content {
    // positioning
    position: relative;
    
    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header__title {
    // box model
    margin: 0;
    margin-bottom: 13px;

    // typography
    font-family: $baseFont;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: $white;
    text-align: center;
}

.main-header__subtitle {
    // box model
    margin: 0;
    margin-bottom: 40px;

    // typography
    font-family: $baseFont;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: $white;
}

.main-header__video-button {
    // positioning
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // box model
    display: none;
    height: 48px;
    width: 68px;
    padding: 0;

    // visual
    background-color: transparent;
    border: none;
}

.main-header__video-button-icon {
    // visual
    fill: #ffffff;
}

.main-header__video-button {
    // visual
    outline: none;
}

.video-container__promo--enabled {
    // visual
    cursor: pointer;
}

.video-container__promo--enabled .main-header__video-button {
    // box model
    display: block;
}

.main-header__video-media {
    // positioning
    position: absolute;
    top: 0;
    left: 0;
    
    // box model
    width: 100%;
    height: 100%;
    
    // visual
    border: none;
    opacity: 0.1;
}

.video-container__promo:hover 
.main-header__video-button-shape,
.main-header__video-button:focus .main-header__video-button-shape {
    // visual
    fill: #ff0000;
    fill-opacity: 1;
}