.nav {
    // box model
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 0 30px;

    @include atDesktopS {
        // box model
        justify-content: space-around;
        padding: 0;
    }
}

.nav__logo {
    @include atDesktopS {
        margin-right: 20px;
    }

    @include atDesktopM {
        // box model
        margin-right: 80px;
    }
}

.nav__subscribe {
    // box model
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    
    @include atTablet {
        // box model
        display: flex;
        &:after {
            content: url(./img/decor/ship.svg);
    
            // positioning
            transform: translateX(-13px);
        }
    }
}

.nav__subscribe .more-places {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: inline-block;
    }
}

.nav__subscribe .sign-up {
    // visual
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    @include atTablet {
        // visual
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;
    }
}