.purpose-item {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 365px;
    margin-right: 5px;
    margin-left: -5px;
    padding: 40px;
    padding-bottom: 33px;
    margin-bottom: 40px;
    min-height: 330px;

    // visual
    background-color: $white;
    box-shadow: 0 0 20px #D2D2D2;

    &:after {
        content: "";

        // positioning
        position: absolute;
        
        z-index: -1;

        // box model
        height: 380px;
        width: 380px;

        // visual
        background-repeat: no-repeat;
    }
    &:first-child {
        &:after {
            // positioning
            left: -30px;
            top: -15px;

            // visual
            background-image: url('./img/backgrounds/figure-left.svg');
            background-repeat: no-repeat;
            background-position: center center;

            @include atDesktopS {
                // positioning
                left: 0;
                top: -52px;

                // visual
                background-position: unset;
            }
        }
    }

    &:last-child {
        &:after {
            // positioning
            left: -30px;
            bottom: -35px;

            // box model
            height: 405px;

            // visual
            background-image: url('./img/backgrounds/figure-right.svg');
            background-repeat: no-repeat;
            background-position: center center;
            
            @include atDesktopS {
                // positioning
                left: -52px;
                bottom: -82px;

                // visual
                background-position: unset;
            }
        }
    }

    @include atDesktopS {
        // box model
        min-height: initial;
        margin-bottom: 0;
    }
}

.purpose-item__thumbnail {
    // box model
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.purpose-item__image {
    // box model
    display: block;
    width: 100%;
    max-width: 50px;
}

.purpose-item__header {
    // box model
    margin-bottom: 20px;
}

.purpose-item__title {
    // box model
    margin: 0;
    padding: 0;

    // typography
    font-family: $baseFont;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #4C3B7B;
    text-align: center;
}

.purpose-item__text {
    // box model
    margin: 0;
    padding: 0;

    // typography
    font-family: $baseFont;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $grey;
    text-align: center;
}