.purpose {
    // box model
    padding: 0 20px;
}

.purpose__container {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
    padding-top: 48px;
    padding-bottom: 85px;

    @include atDesktopS {
        // box model
        flex-direction: row;
        align-items: initial;
    }
}