.section-header {
    // box model
    margin-bottom: 55px;
    
    // typography
    font-family: $baseFont;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: $grey;
    text-align: center;
}

.section-header__title {
    // box model
    margin: 0;

    // typography
    font-family: $baseFont;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: $grey;
}

.section-header__subtitle {
    // box model
    width: 100%;
    max-width: 440px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;

    // typography
    font-family: $baseFont;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: $grey;
}

.section-header__subtitle-stress {
    // typography
    font-weight: 700;
}