.sign-up {
    // box model
    display: inline-block;
    padding: 7px 38px;

    // typography
    font-family: $baseFont;
    font-size: 14px;
    line-height: 16px;
    color: $white;

    // visual
    background-color: $yellow;
    border: 1px solid $yellow;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;

    &--large {
        // box model
        padding: 12px 73px;

        // typography
        font-size: 16px;
        line-height: 18px;

        // visual
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;

        @include atTablet {
            // visual
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
        }
    }

    &--form-popup {
        // box model
        width: 100%;
    }
}